<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">
                    <img src="/site/images/COINGLAS Logo dark.png" height="50" alt="">
                </a>
                <p class="mt-4">
                    ما در آکادمی CoinGlas تمام سعی خود را کرده ایم تا به روز ترین و مدرن ترین ترین روش
                    های ترید و فعالیت در بازار های مالی را به شما آموزش دهیم و اگر وقت آموزش دیدن ندارید میتوانید با
                    عضویت در کانال سیگنال مجموعه ما از بهترین رمزارز های با پتانسیل رشد بالا با خبر شوید
                </p>
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">

                    <li class="list-inline-item">
                        <a href="https://instagram.com/coinglas" class="rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-instagram fea icon-sm fea-social">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                    </li>
            

                </ul>
    
            </div>
    

            <div class="col-lg-6 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">دسترسی سریع </h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="text-foot">
                            <i class="uil uil-angle-left-b me-1"></i> صفحه
                            اصلی
                        </a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Articles" asp-action="Index" class="text-foot">
                            <i class="uil uil-angle-left-b me-1"></i>
                            مقالات
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AboutUs" class="text-foot">
                            <i class="uil uil-angle-left-b me-1"></i> درباره
                            ما
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Courses" asp-action="Index" class="text-foot">
                            <i class="uil uil-angle-left-b me-1"></i> دوره های سایت
                            ما
                        </a>
                    </li>
                </ul>
            </div>
        </div>
       
    </div>
</footer>