<div class=" col-lg-6 col-md-6 mt-4 pt-2 pt-sm-0">
    <h5>داشبورد:</h5>
    <div class="d-flex key-feature align-items-center p-3 rounded shadow mt-4">
        <img src="css/images/job/Circleci.svg" class="avatar avatar-ex-sm" alt="">
        <div class="flex-1 content ms-3">
            <a class="title mb-0 text-dark" href="/Account">مشاهده حساب کاربری</a>

        </div>
    </div>

    <div class="d-flex key-feature align-items-center p-3 rounded shadow mt-4">
        <img src="css/images/job/Circleci.svg" class="avatar avatar-ex-sm" alt="">
        <div class="flex-1 content ms-3">
            <a class="title mb-0 text-dark" asp-area="Account" asp-controller="Home" asp-action="ChangePassword">تغییر رمز عبور</a>

        </div>
    </div>

    <div class="d-flex key-feature align-items-center p-3 rounded shadow mt-4">
        <img src="css/images/job/Codepen.svg" class="avatar avatar-ex-sm" alt="">
        <div class="flex-1 content ms-3">
            <a class="title mb-0 text-dark" asp-area="Account" asp-controller="Wallet" asp-action="Index">تراکنش های حساب</a>

        </div>
    </div>
    <div class="d-flex key-feature align-items-center p-3 rounded shadow mt-4">
        <img src="css/images/job/Codepen.svg" class="avatar avatar-ex-sm" alt="">
        <div class="flex-1 content ms-3">
            <a class="title mb-0 text-dark" href="/Account/MyOrders">فاکتور های من</a>

        </div>
    </div>
    <div class="d-flex key-feature align-items-center p-3 rounded shadow mt-4">
        <img src="css/images/job/Codepen.svg" class="avatar avatar-ex-sm" alt="">
        <div class="flex-1 content ms-3">
            <a class="title mb-0 text-dark" asp-area="Account" asp-controller="Wallet" asp-action="ChargeWallet">شارژ کیف پول </a>

        </div>
    </div>
    <div class="d-flex key-feature align-items-center p-3 rounded shadow mt-4">
        <img src="css/images/job/Gitlab.svg" class="avatar avatar-ex-sm" alt="">
        <div class="flex-1 content ms-3">
            <a class="title mb-0 text-dark" asp-controller="Account" asp-action="LogOut">خروج از حساب کاربری</a>
        </div>
    </div>
</div>