
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>coinglas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
   <partial name="_HeaderReferencesPartial" />
</head>
<body>
    @await Component.InvokeAsync("SiteHeader")
    @RenderBody()
    @await Component.InvokeAsync("SiteFooter")
    <partial name="_FooterReferencesPartial" />
    @RenderSection("Scripts", false)
</body>

</html>
