@model Academy.Domain.ViewModels.Account.ChangeUserPasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

@await Component.InvokeAsync("AccountHeader")

<section class="section mt-60">
    <div class="container mt-lg-3">
        <div class="row">
            <partial name="_AccountDashbord" />
            @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">رمز عبور شما با موفقیت تغییر کرد!</div>
            }
            <div class="col-lg-6 col-md-6">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h5 class="text-md-start text-center">@ViewData["Title"] :</h5>
                        <div class="row">
                            <div class="col-md-12 mt-4 pt-2">
                                <form asp-area="Account" asp-controller="Home" asp-action="ChangePassword" method="post">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">رمز عبور قدیمی : </label>
                                                <div class="form-icon position-relative">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                                    <input asp-for="OldPassword" class="form-control ps-5" placeholder="رمز قدیمی" required="">
                                                </div>
                                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">رمز عبور جدید : </label>
                                                <div class="form-icon position-relative">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                                    <input asp-for="Password" class="form-control ps-5" placeholder="رمز جدید" required="">
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">تایید رمز عبور جدید : </label>
                                                <div class="form-icon position-relative">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                                    <input asp-for="ConfirmPassword" class="form-control ps-5" placeholder="رمز عبور جدید" required="">
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2 mb-0">
                                            <button type="submit" class="btn btn-primary">ذخیره رمز عبور </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}


