@model Academy.Domain.ViewModels.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}


<section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="bg-overlay bg-overlay-white"></div>

    <div class="container">
        @if (ViewBag.ResPass == true)
        {<div class="container">
                <div id="alert-RePass" class="alert alert-success alert-dismissible fade show" role="alert">
                    رمز عبور شما با موفقیت تغییر کرد!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="بستن"></button>
                </div>
            </div>
            <script>
                let delay = 2000;
                let url = "https://iaminmoradi.ir/login";
                setTimeout(function () {
                    location = url;

                }, 2000)
            </script>
        }


        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">@ViewData["Title"] </h4>
                        <form class="login-form mt-4" method="post" asp-controller="Account" asp-action="ResetPassword">
                            <div class="row">

                                <input type="hidden" asp-for="ActiveCode" />
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">رمز عبور  <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                            <input asp-for="Password" class="form-control ps-5" placeholder="رمز عبور ">
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">تکرار رمز عبور  <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                            <input asp-for="ConfirmPassword" class="form-control ps-5" placeholder="تکرار رمز عبور ">
                                        </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">ذخیره اطلاعات  </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
        {
    <partial name="_ValidationScriptsPartial" />
}
